---

- name: Ensure Homebrew is installed
  include: install_homebrew.yml

- name: Update Homebrew to get latest packages and package updates
  homebrew:
    update_homebrew: yes

# Allow installation of Sublime Text 3, Java 6, older versions of GCC, etc.
- name: Add Homebrew taps to allow installation of non-standard versions of packages
  homebrew_tap:
    tap: "{{ item }}"
  with_items:
    - homebrew/versions
    - caskroom/versions

- name: Ensure Bash completion directory exists
  file:
    path: "{{ bash_completion_dir }}"
    state: directory

- name: Enable Bash completion for Homebrew commands
  file:
    dest: "{{ bash_completion_dir }}/brew_bash_completion.sh"
    src: "{{ homebrew_dir }}/etc/bash_completion.d/brew_bash_completion.sh.default"
    state: link

- name: Add Homebrew taps to allow installation of various fonts
  homebrew_tap:
    tap: "{{ item }}"
  with_items:
    - caskroom/fonts
    - niksy/pljoska

# The Homebrew version of OpenSSL is needed to compile Bundler on El Capitan. See http://adarsh.io/bundler-failing-on-el-capitan/ for details.
- name: Install OpenSSL library on El Capitan
  homebrew:
    name: openssl
  when: ansible_distribution == 'MacOSX' and ansible_distribution_version.startswith('10.11')

- name: See if OpenSSL library is linked
  shell: brew doctor 2>&1 | sed -ne '/You may wish to `brew unlink` these brews:/,$p' | grep openssl
  register: openssl_linked
  ignore_errors: TRUE
  changed_when: FALSE
  when: ansible_distribution == 'MacOSX' and ansible_distribution_version.startswith('10.11')

- name: For linking of OpenSSL library and headers on El Capitan
  homebrew:
    name: openssl
    state: linked
    install_options: force
  when: ansible_distribution == 'MacOSX' and ansible_distribution_version.startswith('10.11') and openssl_linked.rc != 0

- name: Remove any old versions of Homebrew-installed packages
  command: brew cleanup
  changed_when: FALSE

- name: Remove any old versions of Homebrew Cask-installed packages
  command: brew cask cleanup
  changed_when: FALSE
