---

# NOTE: Some of these (like function key settings) require a reboot to take effect.


# Use function keys as standard function keys. (Require Fn modifier to enable media functions.)
- name: Use function keys as standard function keys
  osx_defaults:
    domain: NSGlobalDomain
    key: com.apple.keyboard.fnState
    value: TRUE
    type: bool

# Allow tab to move between all controls, not just text boxes and drop-downs.
# Preferences -> Keyboard -> Shortcuts -> Full Keyboard Access
- name: Enable full keyboard access for all controls in windows and dialogs
  osx_defaults:
    domain: NSGlobalDomain
    key: AppleKeyboardUIMode
    value: 3
    type: int

# Turn off smart quotes and dashes.
# Preferences -> Keyboard -> Text -> UNCHECK Use smart quotes and dashes
- name: Disable smart quotes and dashes
  osx_defaults:
    domain: NSGlobalDomain
    key: "{{ item }}"
    value: FALSE
    type: bool
  with_items:
    - NSAutomaticQuoteSubstitutionEnabled
    - NSAutomaticDashSubstitutionEnabled

# TODO: Manually disabled Mission Control and Application windows shortcuts in Keyboard preferences / Shortcuts.

# TODO: This isn't working on my mid-2015 MacBook Pro; had to manually change it in Keyboard preferences.
# TODO: Make this idempotent.
# Make Caps Lock key do nothing. (We'll have Seil and Karabiner fix it later.)
# Apple's vendor ID is 1452. Product ID is 610 for internal keyboard on mid-2012 MacBook Pro, 628 for mid-2015 MacBook Pro.
- name: Unmap Caps Lock key
  osx_defaults:
    domain: NSGlobalDomain
    key: "com.apple.keyboard.modifiermapping.1452-{{ item }}-0"
    value: [ "<dict><key>HIDKeyboardModifierMappingDst</key><integer>-1</integer><key>HIDKeyboardModifierMappingSrc</key><integer>0</integer></dict>" ]
    type: array
    array_add: true
  with_items:
    - 610
    - 628

# Seil is used to remap the Caps Lock key, so that Karabiner can remap it.
- name: Install Seil
  homebrew_cask:
    name: seil

- name: Install Seil CLI stub
  copy:
    dest: /usr/local/bin/seil
    src: "{{ role_path }}/files/seil.sh"
    mode: 0755

# TODO: Had to manually start Seil GUI and close its window.

# TODO: Make this idempotent.
# Map Caps Lock key to generate PC Application (Windows Menu) keycode.
- name: Configure Seil
  command: "seil {{ item }}"
  with_items:
    - "set enable_capslock 1"
    - "set keycode_capslock 110"

# Karabiner allows remapping (almost) any key on the keyboard.
- name: Install Karabiner
  homebrew_cask:
    name: karabiner

- name: Install Karabiner CLI stub
  copy:
    dest: /usr/local/bin/karabiner
    src: "{{ role_path }}/files/karabiner.sh"
    mode: 0755

# TODO: Had to manually go into Security & Privacy preferences, Privacy Tab, Accessibility, and enable Karabiner_AXNotifier.
# TODO: Had to manually start Karabiner GUI and close its window.

- name: Hide Karabiner menubar icon
  osx_defaults:
    domain: org.pqrs.Karabiner
    key: isStatusbarEnable
    value: FALSE
    type: bool
