---

# Ensure that the `locate` database is kept up to date.
- name: Start the locate database daemon
  command: launchctl load -w /System/Library/LaunchDaemons/com.apple.locate.plist
  become: True
  changed_when: False

# Ack is great for searching for things within a repo.
- name: Install ack
  homebrew:
    name: ack

# Ripgrep is another Ack knock-off, focused on correctness and speed. It's written in Rust.
- name: Install Ripgrep (rg)
  homebrew:
    name: ripgrep

# The Silver Searcher (ag) is similar to Ack, newer and possibly better, but I still prefer Ack.
- name: Install the Silver Searcher (ag)
  homebrew:
    name: the_silver_searcher

# Diff-so-fancy makes colorized `diff` output look *really* nice. See https://github.com/so-fancy/diff-so-fancy.
- name: Install diff-so-fancy
  homebrew:
    name: diff-so-fancy

# Sometimes we get DOS-style text files and want to strip out carriage returns.
- name: Install DOS2UNIX tool
  homebrew:
    name: dos2unix

# WGet is similar to Curl, but has some different options.
- name: Install WGet
  homebrew:
    name: wget

# [HTTPie](http://httpie.org/) is similar to cURL, but geared toward troubleshooting.
# It has colorized output and simpler CLI options.
- name: Install HTTPie
  homebrew:
    name: httpie

# Install telnet client (not the telnet server/service) to use for troubleshooting.
# NOTE: We should really be using netcat (nc) to replace all uses of the telnet client.
- name: Install Telnet client
  homebrew:
    name: telnet

# Install newer and more featureful [GNU variant of Netcat](http://netcat.sourceforge.net).
# NOTE: This masks the MacOS BSD-derived version in /usr/bin, but should be a proper superset.
# NOTE: Also consider using socat and ncat (which comes with nmap).
- name: Install netcat
  homebrew:
    name: netcat

# Install [Socat](http://www.dest-unreach.org/socat/), "netcat on steroids".
- name: Install socat
  homebrew:
    name: socat

# HTop is a really nice replacement for top.
# We set it to be run with setuid privileges so it can get CPU and RAM usage.
- name: Install HTop
  homebrew:
    name: htop-osx
- name: Set 'htop_binary' to path of 'htop' binary
  shell: ls -ltr1 {{ homebrew_dir }}/Cellar/htop/*/bin/htop | tail
  register: htop_binary
  changed_when: false
- name: Set htop setuid root
  file:
    path: "{{ htop_binary.stdout }}"
    owner: root
    group: wheel
    mode: 4555  # u+s
  become: true

# This is a little utility missing from Mac OS X, but common to all other OpenSSH installations.
- name: Install ssh-copy-id
  homebrew:
    name: ssh-copy-id

# Tree is a nice tool to display a full directory hierarchy.
- name: Install tree
  homebrew:
    name: tree

# Pstree shows running processes as a tree, showing parent-child relationships.
- name: Install pstree
  homebrew:
    name: pstree

# Lesspipe is an input filter for `less`, allowing non-text files to be translated into text.
# TODO: Make sure it's used by less automatically
- name: Install lesspipe
  homebrew:
    name: lesspipe

# Pidof allows finding a process by name, similar to `pgrep` or `kill`.
- name: Install pidof
  homebrew:
    name: pidof

# Allow listing of USB devices.
- name: Install lsusb
  homebrew:
    name: lsusb

# Watch will continuously run a command.
- name: Install watch
  homebrew:
    name: watch

# PV (Pipe Viewer) can be used in shell pipelines to show a progress bar.
- name: Install PV
  homebrew:
    name: pv

# Midnight Commander (mc) is a visual (TUI) file manager, a clone of Norton Commander
- name: Install Midnight Commander
  homebrew:
    name: midnight-commander

# NcFTP and LFTP provide some useful features (bookmarks, resume, mirroring) that other FTP clients don't.
- name: Install NcFTP
  homebrew:
    name: ncftp
- name: Install LFTP
  homebrew:
    name: lftp

# NMap is a network tool for port scanning, network mapping, remote OS detection, firewall detection, and more.
- name: Install NMap
  homebrew:
    name: nmap

# Iftop shows network usage, similar to how `top` shows CPU usage.
# NOTE: If we compiled this with CFLAGS=-DNO_SYSTEM, we could make it setuid. See http://lists.beasts.org/pipermail/iftop-users/2010-January/000298.html for details.
- name: Install Iftop
  homebrew:
    name: iftop

# Rsnapshot uses rsync to take snapshots of file systems to make remote incremental backups.
- name: Install rsnapshot
  homebrew:
    name: rsnapshot

# Tcpflow is like tcpdump, but shows TCP-layer streams instead of packets.
- name: Install tcpflow
  homebrew:
    name: tcpflow

# JQ is a tool for manipluation (usually filtering/querying) JSON.
- name: Install JQ
  homebrew:
    name: jq

# [Gron](https://github.com/tomnomnom/gron) "flattens" JSON to make it easier to grep.
- name: Install Gron
  homebrew:
    name: gron

# YQ is basically JQ for YAML.
- name: Install YQ
  homebrew:
    name: yq

# [Pup](https://github.com/EricChiang/pup) is basically JQ for HTML.
- name: Install Pup
  homebrew:
    name: pup

# Sipcalc is a tool that calculates IP subnets.
- name: Install Sipcalc
  homebrew:
    name: sipcalc

# Ngrep is like a combination of tcpdump and grep.
- name: Install Ngrep
  homebrew:
    name: ngrep

# MTR is a nice traceroute (and ping) alternative.
- name: Install MTR
  homebrew:
    name: mtr

# Occasionally we need to decompress FLAC and RAR files.
- name: Install FLAC
  homebrew:
    name: flac
- name: Install unrar
  homebrew:
    name: unrar

# It's nice to occasionally show a fortune.
- name: Install fortune
  homebrew:
    name: fortune

# Siege is an HTTP benchmarking tool.
- name: Install siege
  homebrew:
    name: siege

# Duti is a command-line utility used to set the default application for a Uniform Type Identifiers (UTI).
- name: Install duti
  homebrew:
    name: duti

- name: Determine current default app for Markdown files
  shell: duti -x md | tail -1
  register: markdown_viewer
  changed_when: False

- name: Set Markoff as the default viewer for Markdown files
  command: duti -s com.thoughtbot.Markoff {{ item }} viewer
  when: markdown_viewer.stdout != "com.thoughtbot.Markoff"
  with_items:
    - net.daringfireball.markdown
    - ".md"
  notify:
    - Restart Launch Services

- name: Install newer versions of some tools that MacOS already has
  homebrew:
    name:
      - coreutils # NOTE: Have to call these with `g` prefix.
      - findutils # NOTE: Have to call these with `g` prefix.
      - diffutils
      - nano
      - grep # NOTE: Have to call these with `g` prefix.
      - less
      - colordiff
      - unzip

# We have to use a command here, as the `homebrew` Ansible module doesn't support forced linking.
- name: Force use of newer version of some tools
  command: "brew link --force {{ item }}"
  with_items:
    - unzip
  notify:
    - Rehash

# Proselint is a tool to help catch common issues in English writing. See http://proselint.com/.
- name: Install Proselint
  homebrew:
    name: proselint

# This is a nice tool for creating PDFs from HTML
# NOTE: This will prompt you for your password.
- name: Install wkhtmltopdf
  homebrew_cask:
    name: wkhtmltopdf

- name: Install Bash completion for some macOS system tools
  homebrew:
    name:
      - open-completion
      - launchctl-completion

- name: Start Activity Monitor at login
  osx_defaults:
    domain: loginwindow
    key: AutoLaunchedApplicationDictionary
    value: [ "<dict><key>Name</key><string>Activity Monitor</string><key>Path</key><string>/Applications/Utilities/Activity Monitor.app</string><key>Hide</key><integer>0</integer></dict>" ]
    type: array
    array_add: TRUE
